input {
    margin-left: 10px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(8, 8, 99) 85%, rgb(9, 29, 79) 100%);
    margin-right: 10px;
    outline: none;
}

select{
    color:white;
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px;
}